
<div style="background: transparent; height: 100%; width: 100%;" class="child">

  <div [p3x-compile]="widgets.getWidget(item.id).template" [p3x-compile-ctx]="this"></div>


  <!-- All items below this line are temporary -->

  <!-- Custom URL SpeedDial-->
  <div  *ngIf="false">
    <div (click)="redirectToCustom()" class="fit">

      <img id="p2i" class="fit" [src]=getURL() />

      <p class="webName">{{item.setting}}</p>
    </div>
  </div>

  <div *ngIf="false" class="red-text">Invalid ID!</div>
</div>
