
<div style="background: transparent; height: 100%; width: 100%;" class="child">

  <div [p3x-compile]="widgets.getWidget(item.id).template" [p3x-compile-ctx]="this"></div>


  <!-- All items below this line are temporary -->
  
  <!-- Clock -->
  <div *ngIf="false">
    <div [ngSwitch]="item.setting">
      <!-- White -->
      <iframe *ngSwitchCase='AnalogWhite' src="http://free.timeanddate.com/clock/i5u1qpwv/n283/szw160/szh160/cf100/hncfff" frameborder="0" width="160" height="160"></iframe>
      <!-- Green -->
      <iframe *ngSwitchCase='AnalogGreen' src="http://free.timeanddate.com/clock/i5u1qpwv/n283/szw160/szh160/hoc090/hbw4/hfc0c0/cf100/hnc0c0/fas20/facfff/fdi86/mqcfff/mqs2/mql3/mqw4/mqd70/mhcfff/mhs2/mhl3/mhw4/mhd70/mmv0/hhcfff/hhs2/hmcfff/hms2" frameborder="0" width="160" height="160"></iframe>
      <!-- Digital Blue -->
      <iframe *ngSwitchCase='DigitalBlue' src="http://free.timeanddate.com/clock/i5u1qpwv/n283/fs16/fc06f/tc0ff/pc9ff/ftb/pa8/tt0/tw1/th1/ta1/tb4" frameborder="0" width="208" height="52"></iframe>
      <div *ngSwitchDefault>Invalid</div>
    </div>
  </div>

  <!-- Custom URL SpeedDial-->
  <div  *ngIf="false">
    <div (click)="redirectToCustom()" class="fit">

      <img id="p2i" class="fit" [src]=getURL() />

      <p class="webName">{{item.setting}}</p>
    </div>
  </div>

  <div *ngIf="false" class="red-text">Invalid ID!</div>
</div>
