<div id="dynamicSize">

	<ul materialize="collapsible" class="collapsible" data-collapsible="expandable" >

	  <!-- Settings window -->
	   <li>
		<div class="collapsible-header valign-wrapper flow-text"><i class="material-icons">settings</i>Settings</div>

		<div class="collapsible-body white">
			<md-toolbar colo="primary">
			  <div class="main-toolbar">

				 <md-select aria-label="Grid type" [(ngModel)]="grid.options.gridType" (ngModelChange)="grid.changedOptions()" placeholder="Grid Type">
				  <md-option value="fit">Fit to screen</md-option>
				  <md-option value="scrollVertical">Scroll Vertical</md-option>
				  <md-option value="scrollHorizontal">Scroll Horizontal</md-option>
				  <md-option value="fixed">Fixed</md-option>
				  <md-option value="verticalFixed">Vertical Fixed</md-option>
				  <md-option value="horizontalFixed">Horizontal Fixed</md-option>
				</md-select>

				<md-select aria-label="Compact type" [(ngModel)]="grid.options.compactType" (ngModelChange)="grid.changedOptions()" placeholder="Compact Type">
				  <md-option value="none">None</md-option>
				  <md-option value="compactUp">Compact Up</md-option>
				  <md-option value="compactLeft">Compact Left</md-option>
				  <md-option value="compactLeft&Up">Compact Left & Up</md-option>
				  <md-option value="compactUp&Left">Compact Up & Left</md-option>
				</md-select>


				<div class="margin-slider">
				  <div><span>Margin</span></div>
				  <md-slider aria-label="Margin" thumbLabel min="0" max="30" step="1" (ngModelChange)="grid.changedOptions()" [(ngModel)]="grid.options.margin"></md-slider>
				</div>

				<md-checkbox [(ngModel)]="grid.options.outerMargin" (ngModelChange)="grid.changedOptions()">Outer Margin</md-checkbox>

				<md-input-container>
				  <input mdInput [(ngModel)]="grid.options.fixedColWidth" type="number" placeholder="Fixed Col Width" (ngModelChange)="grid.changedOptions()">
				</md-input-container>
				<md-input-container>
				  <input mdInput [(ngModel)]="grid.options.fixedRowHeight" type="number" placeholder="Fixed Row Height" (ngModelChange)="grid.changedOptions()">
				</md-input-container>
				<md-checkbox [(ngModel)]="grid.options.keepFixedHeightInMobile" (ngModelChange)="grid.changedOptions()">
				  Keep Fixed Height In Mobile
				</md-checkbox>
			  </div>
			</md-toolbar>
		</div>
	  </li>

	  <!-- Add components window -->
	  <li>
			<div class="collapsible-header valign-wrapper flow-text"><i class="material-icons">add_circle</i>Add Components</div>


			<div class="collapsible-body white">

				<!-- Search Bar -->
				<form method="get" id="search-form">
					<div class="input-field white center-align z-depth-2">
						<input #widgetSearch id="widget-search" ng-focus="true" type="search" class="flow-text" placeholder="Widget Search">
						<label class="label-icon" for="widget-search"><i class="material-icons">search</i></label>
						<i id="widget-search-label" class="material-icons">close</i>
					</div>
				</form>
				<table class="responsive-table">
					<tbody style="max-height: 400px; overflow-x: auto;">

						<tr *ngFor="let widget of getWidgets().getWidgets()">
							<td *ngIf="widget.name.toLowerCase().includes(widgetSearch.value.toLowerCase())">

								<div class="card responsive-30 waves-effect waves-block waves-light" (click)="(widget.defaultSetting) ? grid.addItemCustom(widget.id, widget.width, widget.height, widget.menuTemplate !== undefined, widget.defaultSetting) : grid.addItem(widget.id, widget.width, widget.height, widget.menuTemplate !== undefined)">

									<div class="card-content {{getSetting('color')}}" id="add-component-label"><span class="flow-text white-text">{{widget.name}}</span></div>
									<div class="card-image"><img class="responsive-img" src="../../../assets/images/{{widget.icon}}"/></div>
								</div>
								<td>
						</tr>
					</tbody>
				</table>
			</div>
	  </li>

	  <!-- Quick Actions Buttons -->
	  <li>
		<div class="collapsible-header center-align" style="padding:1%;">
		  <a (click)="grid.resetGrid()" class="waves-effect waves-light btn-large {{getSetting('color')}}" style="margin-right:3%">Reset Grid</a>
		  <a (click)="refresh()" class="waves-effect waves-light btn-large {{getSetting('color')}}" style="margin-right:3%">Refresh Page</a>
		  <a (click)="grid.resetOptions()" class="waves-effect waves-light btn-large {{getSetting('color')}}" style="margin-right:3%">Reset Options</a>
		</div>
	  </li>
	</ul>

	<div *ngIf="grid.gridLoaded" id="dynamicSize">
		<gridster [options]="grid.options">

			<gridster-item [item]="item" *ngFor="let item of grid.dashboard">

				<div class="card hoverable fill">
					<div class="card-content" style="padding: 0;">

					<!-- Top menubar -->
					<div class="navbar z1" style="position: relative;">
						<nav class="no-nav">
						<div class="nav-wrapper white">

							<!-- Dropdown trigger -->
							<ul class="left" >
								<li *ngIf="item.menu"><a materialize="dropdown" class="dropdown-button activator"><i class="material-icons {{getSetting('color')}}-text">menu</i></a></li>
								<li><a materialize="dropdown" class="dropdown-button drag-handler"><i class="material-icons {{getSetting('color')}}-text">zoom_out_map</i></a></li>
							</ul>

							<!-- Destroy -->
							<ul class="right">
							<li><a *ngIf="grid.dashboard.length > 1" class="dropdown-button" (click)="grid.removeItem($event,item)"><i class="material-icons red-text" >close</i></a></li>
							</ul>

						</div>
						</nav>
					</div>
					<!-- Grid Content -->
						<div style="background: transparent; height: 100%; width: 100%;" class="child center-align">
							<div [p3x-compile]="getWidgets().getWidget(item.id).template" [item]="item"></div>
						</div>
					</div>
					<div class="card-reveal white z2">
						<span class="card-title grey-text text-darken-4">Settings<i class="material-icons right">close</i></span>

						<!-- Menu -->
						<div style="background: transparent">
							<div [p3x-compile]="getWidgets().getWidget(item.id).menuTemplate" [item]="item"></div>
						</div>

					</div>
				</div>

			</gridster-item>

		</gridster>
	</div>

</div>
