 <!-- Grid -->
  <gridster [options]="grid.options" style="height:1000px; background:transparent">
	<gridster-item [item]="item" *ngFor="let item of grid.dashboard">
		<div class="button-holder center-align" [ngClass]="getSetting('modifier') === 'color' ? getSetting('color') + ' lighten-3' : (getSetting('modifier') === 'dark' ? 'grey darken-4' : '')" style="position: relative">
			<div style="background: transparent; height: 100%; width: 100%;" class="child">
				<div [p3x-compile]="getWidgets().getWidget(item.id).template" [uid]="item.uid"></div>
			</div>
		</div>
	</gridster-item>
</gridster> 