<!-- Materialize Default  -->


  
<!-- First section -->
<section id="main">
    <div class="gradient-overlay"></div>
        <div class="container">
                <div class="row">
                    <div class="center-align">
                        <h1 class="animated fadeInUp">ElectroTab</h1>
                        <h5 class="animated fadeInUp">An Electrifying New Tab Experience!</h5>
                    </div>
                </div>
                <a pageScroll href="#navBar" class="waves-effect waves-light btn">Discover Now</a>
        </div>
</section>

<nav>
    <div id="navBar" class="nav-wrapper">
        <a class="brand-logo flow-text" [routerLink]="['']">ElectroTab</a>
        <!-- Dropdown trigger -->
        <a materialize="dropdown" class="button-collapse dropdown-button" href="#" data-activates="dropdown"><i class="material-icons">menu</i></a>

        <!-- Regular Screen Not Logged In -->
        <ul class="right hide-on-med-and-down">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['']" class="flow-text">Home</a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['faq']" class="flow-text">FAQ</a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['../account/login']" class="flow-text">Login</a></li>
        </ul>
    </div>
</nav>

<div class="parallax-container">
    <div class="parallax" materialize = "parallax"><img src="../assets/images/1.jpg"></div>
</div>
    <div class="section white">
        <div class="row container">
            <h2 class="header">Features</h2>
            <p class="grey-text text-darken-3 lighten-3">Tons and Tons of features</p>
        </div>
    </div>
<div class="parallax-container">
    <div class="parallax" materialize = "parallax"><img src="../assets/images/2.jpg"></div>
</div>


 