<!-- Materialize Default  -->
<div class="navbar-fixed" *ngIf="!(isLoggedIn | async)">
<nav>
    <div id="navBar" class="nav-wrapper red darken-1">
        <a class="brand-logo flow-text" [routerLink]="['']">ElectroTab</a>
        <!-- Dropdown trigger -->
        <a materialize="dropdown" class="button-collapse dropdown-button" href="#" data-activates="dropdown"><i class="material-icons">menu</i></a>

        <!-- Regular Screen Not Logged In -->
        <ul class="right  hide-on-med-and-down">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['']" class="flow-text">Home</a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['news']" class="flow-text">News</a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['../account/login']" class="flow-text">Login</a></li>
        </ul>
    </div>
</nav>
</div>


<!-- First section -->
<section id="main">
    <div class="gradient-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="center-align">
                <h1 class="animated fadeInUp">ElectroTab</h1>
                <h5 class="animated fadeInUp">An Electrifying New Tab Experience!</h5>
            </div>
        </div>
        <a pageScroll href="#parallax" class="waves-effect waves-light btn red darken-2">Learn More</a>
    </div>
</section>

<div id="parallax" class="container">
    <div class="section">

        <div class="row">
            <div class="center-align">
                <br>
                <img class="pic" src="./assets/images/favicon.png">
            </div>
        </div>

        <div class="row">
            <h3 class="col s12 light center header">ElectroTab electrifies your browser with lightning speed and modularity.</h3>
        </div>

        <!--   Main Features  -->
        <div class="row">
            <div class="col s12 m4">
                <div class="center promo">
                    <i class="medium material-icons">flash_on</i>
                    <p class="promo-caption">Electrifying Modularity</p>
                    <p class="light center">ElectroTab uses a grid system to allow you ultimate control over all aspects of your New Tab experience! Drag, resize, create, and delete custom widgets to create the perfect page!</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="center promo">
                    <i class="medium material-icons">code</i>
                    <p class="promo-caption">Open Source</p>
                    <p class="light center">All of our code is available for your scrutiny under the <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU General Public License v3.0!</a> We believe in an open and redistributable future for coding, and wish to allow anyone to modify and contribute to our code base. If you find something that's not to your satisfaction, simply let us know and we'll try to fix it for you! Our GitHub repository link is below.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="center promo">
                    <i class="medium material-icons">apps</i>
                    <p class="promo-caption">Custom Widgets</p>
                    <p class="light center">We strive to allow users to customize howevery they wish, and feel that one of the best ways is to let everyone create and share custom widgets! At this time, we do not have an interactive editor, but anyone is welcome to use our <a href="https://github.com/dbqeo/ElectroTab/wiki">Widget Service</a>.</p>
                </div>
            </div>
        </div>

    </div>
    <div class="divider"></div>
    <div class="section">
        <div class="row center s12 m8 l6">
            <h3 class="light header">Download</h3>
            <p class="col s12 caption">Want to join in and get electrified with a touch of modularity? Download our Chrome extension below!</p>
            <a href="" class="btn-large waves-effect waves-dark red">Get the Extension</a>
        </div>
    </div>
    <div class="divider"></div>
    <div class="section">
        <div class="row center s12 m8 l6">
            <h3 class="light header">Contribute</h3>
            <p class="col s12 caption">We're open source on GitHub! Anyone is welcome to submit bug reports, feature requests, and contributions in our repository.</p>
            <a href="https:/github.com/dbqeo/ElectroTab" class="btn-large waves-effect waves-dark grey darken-2">View our repository on GitHub</a>
        </div>
    </div>

    <div class="divider"></div>    
    <div class="section">
        <div class="row center s12 m8 l6">
            <h3 class="light header">Contact</h3>
            <p class="col s12 caption">You can contact us mainly through GitHub issues (click on the link above!), but you can also reach us at our email, contact@enumc.com.</p>
            <p></p>
            <a href="mailto:contact@enumc.com" class="btn-large waves-effect waves-dark amber darken-4">Contact Us!</a>
        </div>
    </div>
</div>


<footer class="page-footer red darken-2">
    <div class="container">
        <div class="row">
            <div class="col l4 s12">
              <h5 class="white-text">Electrify the Discussion</h5>
              <p class="grey-text text-lighten-4">We have a Discord channel set up for easy communication between developers. Join in on discussions about electrifying new features or drop some questions for developers.</p>
              <a class="btn waves-effect waves-light grey darken-2" target="_blank" href="https://discordapp.com/invite/FnvQ6MG">Discord</a>
            </div>
            <div class="col l4 s12 center no-overflow">
                <iframe height="300px" src="https://discordapp.com/widget?id=354464445914808320&theme=dark" allowtransparency="true" frameborder="0"></iframe>
            </div> 
            <div class="col l4 s12 center no-overflow">
              <h5 class="white-text center-align">Connect with Us</h5>
              <iframe src="http://ghbtns.com/github-btn.html?user=dbqeo&amp;repo=ElectroTab&amp;type=watch&amp;count=true&amp;size=large" allowtransparency="true" scrolling="0" width="170" height="30" frameborder="0"></iframe>
              <br> 

            </div>
          </div>
    
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2017 ElectroTab All Rights Reserved
      <a class="grey-text text-lighten-4 right" href="#!">v1.0</a>
      </div>
    </div>
  </footer>