<!-- First section -->

  

<section id="main">
    <div class="gradient-overlay"></div>
        <div class="container">
                <div class="row">
                    <div class="center-align">
                        <h1 class="animated fadeInUp">ElectroTab</h1>
                        <h5 class="animated fadeInUp">An Electrifying New Tab Experience!</h5>
                    </div>
                </div>
                <a class="waves-effect waves-light btn">Discover Now</a>
        </div>
</section>
<a class="waves-effect waves-light btn" [routerLink]="['../account/login']">Temporary Login</a>

<div class="parallax-container">
    <div class="parallax" materialize = "parallax"><img src="../assets/images/1.jpg"></div>
</div>

<div class="section white">
    <div class="row container">
      <h2 class="header">Xd</h2>
      <p class="grey-text text-darken-3 lighten-3">PSomething shoudl happen</p>
    </div>
  </div>

<div class="parallax-container">
    <div class="parallax" materialize = "parallax"><img src="../assets/images/2.jpg"></div>
</div>


 