/** Miscellaneous CSS for widgets. As for the Typescript this is also temporary. **/

/* Fix duplicate underline */
.mat-form-field-underline::after {
    visibility: hidden;
    display: none;
    opacity: 0;
}

html {
    align-self: center;
    align-content: center;
}

.input-field {
	padding-top: 0.6rem;
}

.cap-first {
	text-transform:capitalize;
}

.size {
    height: 15vh;
}

.fit {
  height: 100%;
  width: 100%;
  padding: 0;
  z-index: -1;
}
.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.backgroundimage {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
 }
.webName {
  position: relative;
}

input {
  border-bottom-width: 0px !important;
}

input[type=search] ~ .material-icons {
  padding-top:0.5rem;

}

.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#search {
  margin-left: 3rem;
  margin-bottom: 0.5rem;
  width: 90%;
}

#searchform {
  margin-top: 3rem;
  padding: 2rem;
}

#search-label {
  margin-top: 0.5rem;
}

.top-pad {
  padding-top: 2rem;
}