<div class="container z-depth-4">

	<h2 class="center-align" >Support</h2>
	<p>Please submit the form below to file a support ticket.</p>
	<form method="POST" action="//formspree.io/contact@2tbs.club" >
		<div class="field">
			<label for="name">Name</label>
			<input type="text" name="name" id="name" />
		</div>
		<div class="field">
			<label for="email">Email</label>
			<input type="email" name="_replyto" id="email" />
		</div>
		<div class="field">
			<label for="message">Message</label>
			<textarea name="message" id="message" rows="4"></textarea>
		</div>
		<ul class="actions">
			<li><input type="submit" value="Send Message"/></li>
		</ul>
	</form>
</div>
<script src="../../../assets/js/main.js"></script>
