<div class="container">
<style>
input[type=text], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}

div {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}
</style>

	<h2 class="center-align" >Support</h2>
	<p>Please submit the form below to file a support ticket.</p>
	<form method="POST" action="//formspree.io/contact@2tbs.club">
		<div class="field">
			<label for="name">Name</label>
			<input type="text" name="name" id="name" />
		</div>
		<div class="field">
			<label for="email">Email</label>
			<input type="email" name="_replyto" id="email" />
		</div>
		<div class="field">
			<label for="message">Message</label>
			<textarea name="message" id="message" rows="4"></textarea>
		</div>
		<ul class="actions">
			<li><input type="submit" value="Send Message"/></li>
		</ul>
	</form>
</div>
<script src="../../../assets/js/main.js"></script>
