a {
  text-decoration: none !important;
}

.small-text {
  font-size: 1.5vh;
}

.brand-logo {
  padding-left: .5vw;
}
#dynRes {
  min-height: 100px;
  height: 100%;
  overflow: auto;
}

.no-nav {
  height: 0%;
}
