<!-- Materialize Default  -->
<div class="navbar-fixed" *ngIf="!(isLoggedIn | async)">
    <nav>
        <div id="navBar" class="nav-wrapper red darken-1">
            <a class="brand-logo flow-text" [routerLink]="['']">ElectroTab</a>
            <!-- Dropdown trigger -->
            <a materialize="dropdown" class="button-collapse dropdown-button" href="#" data-activates="dropdown"><i class="material-icons">menu</i></a>

            <!-- Regular Screen Not Logged In -->
            <ul class="right  hide-on-med-and-down">
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['']" class="flow-text">Home</a></li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['faq']" class="flow-text">News</a></li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['../account/login']" class="flow-text">Login</a></li>
            </ul>
        </div>
    </nav>
</div>

<div id="parallax" class="container">
    <div class="section">

        <div class="row">
            <div class="center-align">
                <br>
                <img class="pic animated fadeInUp" src="./assets/images/favicon.png">
            </div>
        </div>

        <div class="row">
            <h3 class="col s12 light center header animated fadeInUp">ElectroTab News</h3>
        </div>

      
    <div class="divider"></div>

    <div class="section">
        <div class="row center s12 m8 l6">
            <h3 class="light header">Update 1.0.0!</h3>
            <p><strong>1.0.0 is the first release ever! HYPE!!!!</strong> </p>
        </div>

        <p>Here's a short list of what we've done:</p>
            <ul>
                <li>
                    <p><strong>Actual real content.</strong> We've imported our work from a previous repository, due to some
                        security concerns regarding personal information. That's why there is so much content in 1.0.0! I'll
                        briefly summarize what we did before the creation of this repository: 
                    <ul>
                        <li>a. <strong>Login system.</strong> Google and GitHub oAuth logins are functional, as well as standard email login.</li>
                        <li>b. <strong>Firebase.</strong> Your data syncs to our database, allowing you to access all of your preferences from any device! Don't worry, we do not collect any personal information- just your email and ElectroTab settings (dashboard layout, colors, etc.)</li>
                        <li>c. <strong>Drag and Drop grid.</strong> We're creating more modules right now, but we created the Logo, Search Bar, and Clock.</li>
                    </ul>
                </li>



                <li>
                    <p><strong>New widget- the speed dial!</strong> This widget is a bookmark for your favorite links. It displays
                        a screenshot of the website it links to.</p>
                </li>

                <li>
                    <p><strong>New improved database linking!</strong> More efficient and more secure. This should prevent against
                        database leaks (another reason why we had to create a new repo).</p>
                </li>

                <li>
                    <p><strong>Awesome home page!</strong> Before, we just had an "under construction" holding page. Now, it's
                        actually looking pretty clean!</p>
                </li>
            </ul>
        
    </div>

    <div class="divider"></div>

</div>
