<div [ngSwitch]="item.id" style="background: transparent">

  <!-- Search Bar -->
  <div *ngSwitchCase="2">

    <form>
      <p *ngFor="let engine of engines">
        <input name="engineChoose" type="radio" id="{{engine}}" (click)="item.setting = engine" [checked]="engine === item.setting"/>
        <label for="{{engine}}" class="black-text">{{engine}}</label>
      </p>
    </form>
  </div>

  <!-- Clock -->
  <div *ngSwitchCase="3">

    <form>
      <p *ngFor="let clock of clocks">
        <input name="clockChoose" type="radio" id="{{clock}}" (click)="item.setting = clock" [checked]="clock === item.setting"/>
        <label for="{{clock}}" class="black-text">{{clock}}</label>
      </p>
    </form>

  </div>

  <!-- Custom URL SpeedDial-->
  <div *ngSwitchCase="4" class="padded">
    <a class="waves-effect waves-light btn {{getSetting('color')}}" (click)="changeURL()">Change URL</a>



  </div>

  <div *ngSwitchDefault class="red-text">Invalid ID!</div>
</div>
